.container {
    display: flex;
    flex-direction: row;
}

.heading {
    margin-left: 45px;
}

.topmiddle {
    margin-left: 25px;
    margin-top: 35px;
}

.timeframe {
    height: 1%;
    margin-left: 5px;
    margin-top: 35px;
}

.topright {
    margin-left: 45%;
    margin-top: 37px;
}

li {
    position: absolute;
    inline-size: 210px;
    overflow-wrap: break-word;
}

.rec1 {
    margin-left: 85px;
}

.rec2 {
    margin-left: 150px;
}

.play {
    position: absolute;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 80px;
}

html {
    padding-bottom: 30px;
}