.container {
    display: flex;
    flex-direction: row;
}

.heading {
    margin-left: 10px;
}

li {
    position: absolute;
    inline-size: 150px;
    margin-left: 50px;
    overflow-wrap: break-word;
}

.rec1 > li {
    margin-left: 10px;
}

.play {
    text-decoration: none;
    margin-left: 5px;
}