.container {
    display: flex;
    flex-direction: row;
}

.left {
    margin-left: 1%;
}

.right {
    margin-left: 22%;
}

.topright {
    margin-left: 50%;
}

.rec1 {
    margin-left: 5%;
}

.rec2 {
    margin-left: 10%;
}

.rec3 {
    margin-left: 17%;
}

.rec4 {
    margin-left: -2%;
}

.header1 {
    margin-left: 14%;
}

.refresh1 {
    height: 30%;
    margin-top: 6%;
    margin-left: 5%;
}
