.container {
    display: flex;
    flex-direction: row;
}

.left {
    margin-left: 2.5%;
}

.right {
    margin-left: 22%;
}

.topright {
    margin-left: 50%;
}

.rec1 {
    margin-left: 5%;
}

.rec2 {
    margin-left: 16%;
}

.rec3 {
    margin-left: 18%;
}

.rec4 {
    margin-left: 19%;
}

.header1 {
    margin-left: 14%;
}

.refresh1 {
    height: 30%;
    margin-top: 6%;
    margin-left: 5%;
}

li {
    position: absolute;
    inline-size: 200px;
    overflow-wrap: break-word;
}

.list {
    margin-left: 110px;
}